<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>题库</title>
    <link rel="stylesheet" type="text/css" th:href="@{/common/element/element-index.css}">
    <script type="text/javascript" th:src="@{/common/jquery/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/common/vue/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/common/element/element-index.js}"></script>
    <script type="text/javascript" th:src="@{/common/axios/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/common/myutil/axios_util.js}"></script>
    <script type="text/javascript" th:src="@{/common/myutil/my_util.js}"></script>
    <script type="text/javascript" th:src="@{/common/myutil/myEl.js}"></script>
</head>
<body>
    <div id="appVM" v-cloak>
        <el-card>
            <div>
                <el-form :inline="true" :model="queryForm" class="demo-form-inline">
                    <el-form-item label="题干">
                        <el-input v-model="queryForm.tpName" placeholder="请输入题干"></el-input>
                    </el-form-item>
                    <el-form-item label="创建人">
                        <el-input v-model="queryForm.founder" placeholder="请输入创建人"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="queryUser">查询</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="resetQuery">重置</el-button>
                    </el-form-item>

                    <el-button style="float: right; margin-right: 150px" type="primary" @click="addData">新增</el-button>
                </el-form>
            </div>
            <el-table :height="tableHeight" :data="tableData" stripe border highlight-current-row style="width: 98%">
                <el-table-column type="index" width="50">
                </el-table-column>
                <el-table-column prop="tpName" label="题干"></el-table-column>
                <el-table-column prop="tpType" label="题目类型">
                    <template slot-scope="scope">
                        <span v-if="scope.row.tpType == 1">单选</span>
                        <span v-if="scope.row.tpType == 2">多选</span>
                        <span v-if="scope.row.tpType == 3">填空</span>
                        <span v-if="scope.row.tpType == 4">判断</span>
                        <span v-if="scope.row.tpType == 5">简答</span>
                    </template>
                </el-table-column>
                <el-table-column prop="tpDifficultyLevel" label="难度等级">
                    <template slot-scope="scope">
                        <span v-if="scope.row.tpDifficultyLevel == 1">特别简单</span>
                        <span v-if="scope.row.tpDifficultyLevel == 2">简单</span>
                        <span v-if="scope.row.tpDifficultyLevel == 3">一般</span>
                        <span v-if="scope.row.tpDifficultyLevel == 4">困难</span>
                        <span v-if="scope.row.tpDifficultyLevel == 5">特别困难</span>
                    </template>
                </el-table-column>
                <el-table-column prop="optionA" label="选项A"></el-table-column>
                <el-table-column prop="optionB" label="选项B"></el-table-column>
                <el-table-column prop="optionC" label="选项C"></el-table-column>
                <el-table-column prop="optionD" label="选项D"></el-table-column>
                <el-table-column prop="optionE" label="选项E"></el-table-column>
                <el-table-column prop="optionF" label="选项F"></el-table-column>
                <el-table-column prop="optionG" label="选项G"></el-table-column>
                <el-table-column prop="status" label="状态">
                    <template slot-scope="scope">
                        <span v-if="scope.row.status == 0">正常</span>
                        <span v-if="scope.row.status == 1">过时</span>
                    </template>
                </el-table-column>
                <el-table-column prop="tpCorrectAnswer" label="正确答案"></el-table-column>
                <el-table-column prop="founder" label="创建人"></el-table-column>
                <el-table-column >
                    <template slot-scope="scope">
                        <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                        <el-button size="mini" type="warning" @click="handleRemove(scope.$index, scope.row, 0)">启用</el-button>
                        <el-button size="mini" type="warning" @click="handleRemove(scope.$index, scope.row, 1)">禁用</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    background
                    :page-sizes="[10, 50, 100, 200]"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :page-size="tablePage.pagesize"
                    :current-page.sync="tablePage.currentPage"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="tablePage.total">
            </el-pagination>
        </el-card>
        <!--edit页面 抽屉-->
        <el-drawer ref="drawer" :title="EditDrawer.title" :visible.sync="EditDrawer.drawer" direction="rtl" destroy-on-close="true"
                   custom-class="demo-drawer" :show-close="false" size="60%" :before-close="handleClose">
            <div class="demo-drawer__content" style="margin: 5px 50px 10px 5px">
                <el-form label-position="right" label-width="100px" :model="EditForm">
                    <el-form-item label="题干">
                        <el-input v-model="EditForm.tpName"></el-input>
                    </el-form-item>
                    <el-form-item label="题目类型">
                        <template>
                            <el-select v-model="EditForm.tpType" placeholder="请选择">
                                <el-option v-for="item in tpTypeOptions"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-form-item>
                    <el-form-item label="难度等级">
                        <el-select v-model="EditForm.tpDifficultyLevel" placeholder="请选择">
                            <el-option v-for="item in tpDifficultyLevelOptions"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="选项A">
                        <el-input v-model="EditForm.optionA"></el-input>
                    </el-form-item>
                    <el-form-item label="选项B">
                        <el-input v-model="EditForm.optionB"></el-input>
                    </el-form-item>
                    <el-form-item label="选项C">
                        <el-input v-model="EditForm.optionC"></el-input>
                    </el-form-item>
                    <el-form-item label="选项D">
                        <el-input v-model="EditForm.optionD"></el-input>
                    </el-form-item>
                    <el-form-item label="选项E">
                        <el-input v-model="EditForm.optionE"></el-input>
                    </el-form-item>
                    <el-form-item label="选项F">
                        <el-input v-model="EditForm.optionF"></el-input>
                    </el-form-item>
                    <el-form-item label="选项G">
                        <el-input v-model="EditForm.optionG"></el-input>
                    </el-form-item>
                    <el-form-item label="状态">
                        <template>
                            <el-radio-group v-model="EditForm.status">
                                <el-radio :label="0">正常</el-radio>
                                <el-radio :label="1">禁用</el-radio>
                            </el-radio-group>
                        </template>
                    </el-form-item>
                    <el-form-item label="正确答案">
                        <el-input v-model="EditForm.tpCorrectAnswer"></el-input>
                    </el-form-item>
                    <el-form-item label="创建时间">
                        <el-date-picker v-model="EditForm.createTime" readonly
                                value-format="yyyyMMddHHmmss"
                                type="datetime"
                                placeholder="选择日期时间">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="创建人">
                        <el-input v-model="EditForm.founder"></el-input>
                    </el-form-item>
                </el-form>
                <div class="demo-drawer__footer" style="text-align: right">
                    <el-button >取 消</el-button>
                    <el-button type="primary" @click="saveData">保 存</el-button>
                </div>
            </div>
        </el-drawer>
    </div>
</body>

<script>
    let vSearchFilter = "";//查询条件全局变量
    let vData={
        tableHeight: $(document).height() - 150,
        queryForm:{
            tpName: '',
            founder: ''
        },
        tableData: [],
        tablePage: {
            pagesize: 10,
            currentPage: 1,
            total: 0
        },
        EditDrawer: {
            title:'',
            drawer: false
        },
        EditForm: {},
        tpTypeOptions:[{
            value: '1',
            label: '单选'
        }, {
            value: '2',
            label: '多选'
        }, {
            value: '3',
            label: '填空'
        }, {
            value: '4',
            label: '判断'
        }, {
            value: '5',
            label: '简答'
        }],
        tpDifficultyLevelOptions: [{
            value: '1',
            label: '特别简单'
        }, {
            value: '2',
            label: '简单'
        }, {
            value: '3',
            label: '一般'
        }, {
            value: '4',
            label: '困难'
        }, {
            value: '5',
            label: '特别困难'
        }]

    };

    let vm = new Vue({
        el: '#appVM',
        data: vData,
        method: {
            queryUser,
            resetQuery,
            handleEdit,
            handleRemove,
            handleDelete,
            handleSizeChange,
            handleCurrentChange,
            handleClose,
            saveData,
            addData

        }

    });

    $(function () {
        getData();
    });

    function getData() {
        let lJsonData = $.extend({}, vData.queryForm, vData.tablePage);

        axios.post("/topic/getexamtopiclist",lJsonData)
            .then(function (response) {
                let lret = response.data;
                console.log(lret);
                vData.tableData = lret.data.content;
                vData.tablePage.total = lret.data.total;
            })
            .catch(function (error) {

            });

    }

    function queryUser() {
        vData.tablePage.currentPage = 1;
        getData();
    }

    function resetQuery() {
        vData.queryForm.tpName = '';
        vData.queryForm.founder = '';
    }
    function handleEdit(idx, row) {
        vData.EditDrawer.drawer = true;
        vData.EditDrawer.title = "编辑题目-"+row.tpName;
        vData.EditForm = row;
    }
    function handleRemove(idx, row, status) {
        vm.$confirm("确认禁用'"+row.tpName+"'吗？")
            .then(_=> {
                let lJsonData = {"tpId": row.tpId, "status": status};
                axios.post("/topic/removetopic",lJsonData)
                    .then(function (response) {
                        let lret = response.data;
                        console.log("lret", lret);
                        if (lret.msg == 200){
                            getData();
                        }
                        myEl.elAlert(lret.code, lret.msg);
                    })
                    .catch(function (error) {

                    });
            })
            .catch(_=> {

            })
    }
    function handleDelete(idx, row) {
        vm.$confirm("确认删除'"+row.tpName+"'吗？")
            .then(_=> {
                let lJsonData = {"tpId": row.tpId};
                axios.post("/topic/deletetopic",lJsonData)
                    .then(function (response) {
                        let lret = response.data;
                        console.log(lret);
                        if (lret.code == 200){
                            myEl.elAlert('success','删除成功');
                            getData();
                        }else {
                            myEl.elAlert('error','删除失败');
                        }
                    })
                    .catch(function (error) {

                    });
            })
            .catch(_=> {

            })
    }
    function handleSizeChange(val) {
        vData.tablePage.currentPage = 1;
        vData.tablePage.pagesize = val;
        getData();
    }
    function handleCurrentChange(val) {
        getData();
    }
    
    function handleClose(done) {
        vm.$confirm('确认关闭？')
            .then(_=> {
                done();
            })
            .catch(_=>{});
    }

    function saveData() {
        axios.post("/topic/addtopic",vData.EditForm)
            .then(function (response) {
                let lret = response.data;
                console.log(lret);
            })
            .catch(function (error) {

            });
    }
    function addData() {
        console.log("新增");
        vData.EditForm = {};
        vData.EditDrawer.drawer = true;
    }

</script>

<style>
    [v-cloak]{
        display: none;
    }

</style>
</html>